<ion-view view-title="BwacTle" on-touch="G.touch($event)">
  <ion-content>
    <div class="text-center">
      Messages :
      <ul>
        <li>{{ messageType }} {{ messageContent }}</li>
      </ul>
    </div>
    <grid></grid>
    <inventory></inventory>
    <div class="text-center">
      <button class="button button-assertive" action="attack">
      Attack
      </button>
      <button class="button button-assertive" action="unequip">
      Unequip
      </button>
      <button class="button button-assertive" action="pick">
      Pick
      </button>
    </div>
  </ion-content>
</ion-view>
