<ion-view view-title="Login">
  <ion-content>
    <h1 class="text-center">BwacTle Login</h1>
    <form novalidate class="list list-inset">
      <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="L.user.login">
        </label>
      <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="L.user.password">
        </label>
    </form>
    <button class="button button-block button-positive" ng-click="L.login(L.user)">Login</button>
  </ion-content>
</ion-view>