grid {
    display: block;
    text-align: center;
    padding-top: 14px;
}

.game-grid {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 1px;
}

.game-row {
    margin: 0;
}

.game-cell {
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
}
inventory {
  display: block;
  text-align: center;
  padding-top: 14px;
}

.inventory-cell {
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  line-height: 70px;
}

.inventory-item-holder {
  display: inline-block;
}


